# =============================================================================
# Vantage - Development Environment
# =============================================================================
services:
  dev:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    image: vantage-dev
    container_name: vantage-dev
    volumes:
      - .:/workspace
      - ./git-config-docker:/root/.gitconfig:ro
      - ./data/results:/results
      # - ./data/engines:/engines
      - ./data/books:/openings

    working_dir: /workspace
    stdin_open: true
    tty: true
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "5173:5173"
    deploy:
      resources:
        limits:
          memory: 6G
        reservations:
          memory: 2G